---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

@import
  "variables",
  "typography",
  "syntax-highlighting",
  "components/back",
  "components/footer",
  "components/logo",
  "layouts/blog",
  "layouts/post"
;

body {
  margin: 0;
  padding: 0;
  color: map-get($palette, dark);
  font-size: 12.6px;
  font-family: "Inter UI", sans-serif;
  font-weight: normal;
  line-height: 2.5em;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
