---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
        "bootstrap-overrides",
        "bootstrap/bootstrap",
        "sidebar",
        "blog",
        "syntax-highlighting"
;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

h1{
  text-transform: uppercase;
}

header {
  .navbar {
    font-weight: 800;
    margin-bottom: 0px;
  }
}

footer#page_footer {
  margin-top: 50px;
  color: #767676;
}

#hero{
  background-image: url(/images/banner.jpg);
  height: 300px;
  background-size: cover;
  box-shadow: inset 0px 0 5px rgba(0,0,0,.5);
  margin-bottom: 20px;
}

#disqus_thread {
  margin-top: 40px;
}

.dev-tools-image {
  padding: 1em;
  border: 1px solid black;
}
