<div class="sidebar col-md-offset-1 col-md-3">
  <section class="introduction">
    <img src="/images/logo.png" alt="Liefery Logo" class="img-circle img-responsive logo"  height="150" width="150"/>
    <p>
      Hi, we are <a href="https://www.liefery.com">liefery.com</a>, a Berlin based same day delivery
      and logistics startup.
    </p>
  </section>

  <section class="recent-posts panel panel-primary">
    <div class="panel-heading">Recent Posts</div>
    <ul class="list-group">
      {% for post in site.posts limit:5 %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">{{ post.title }}</a>
      {% endfor %}
    </ul>
  </section>

  <section class="references">
    <p>
      You can also find us on:
    </p>
    <ul>
      <li><a href="https://www.liefery.com/">liefery.com</a></li>
      <li><a href="https://twitter.com/liefery_de">Twitter</a></li>
      <li><a href="https://github.com/liefery">GitHub</a></li>
      <li><a href="https://lieferycareer.recruitee.com/">Jobs (Recruitee)</a></li>
    </ul>
  </section>

</div>
