$breakpoints: (
  small: 600px,
  large: 1000px
);

$palette: (
  lightest: #FFF,
  light: #EDF3F6,
  lightgrey: #A5AFB5,
  darkgrey: #7E8F99,
  dark: #40484D,
  darkest: #2B3439,
  blue: #38A1E8,
  orange: #E8AE38
);
