.container {
  @media screen and (min-width: map-get($breakpoints, large)) {
    display: flex;
    min-height: calc(100vh - #{$footer-height});
  }

  &__section {
    @media screen and (min-width: map-get($breakpoints, large)) {
      display: flex;
    }

    &--highlighted {
      color: map-get($palette, lightest);
      flex-basis: 40%;
      padding: 12em 1em 4em;

      @media screen and (min-width: map-get($breakpoints, large)) {
        padding: 7rem;
      }
    }

    &--highlighted-yellow {
      background: map-get($palette, orange);
    }

    &--highlighted-blue {
      background: map-get($palette, blue);
    }
  }
}

.article-teaser-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 3.5em 0;

  @media screen and (min-width: map-get($breakpoints, large)) {
    justify-content: center;
  }

  &__nav {
    text-align: center;

    &-element {
      color: map-get($palette, lightgrey);
      font-size: 1.25rem;
      opacity: 0.7;
      padding: 0 .25rem;
      text-decoration: none;

      &:active, &:focus, &:hover {
        opacity: 1;
      }
    }

    &-element--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.article-teaser {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 600px;
  padding: 2em 0;
  width: 85%;

  &:not(:last-of-type) {
    border-bottom: 1px solid map-get($palette, light);
  }

  &__title {
    font-size: 1.5em;
    margin: 0.5em 0 0.7em;
    word-wrap: break-word;
  }

  &__excerpt {
    font-family: "Georgia", serif;
  }

  &__author {
    opacity: 0.5;
  }

  &__read-more {
    display: block;
    margin-top: 4em;
    margin: 0 auto;
    text-align: right;
    text-decoration: none;
    width: 85%;

    @media screen and (min-width: map-get($breakpoints, large)) {
      width: 100%;
    }
  }

  &--highlighted {
    font-size: 1.5em;
    max-width: 850px;
    padding: 0;

    @media screen and (min-width: map-get($breakpoints, large)) {
      max-width: none;
      margin: 0;
    }

    .article-teaser__title {
      color: map-get($palette, lightest);
      font-weight: bold;
      margin-bottom: 0.35em;

      @media screen and (min-width: map-get($breakpoints, small)) {
        font-size: 3.5em;
      }
    }

    .article-teaser__read-more {
      &:hover,
      &:active {
        color: inherit;
      }
    }
  }
}
