footer {
  background: map-get($palette, light);
  padding: 2em;

  @media screen and (min-width: map-get($breakpoints, small)) {
    align-items: center;
    display: flex;
    height: $footer-height;
    justify-content: space-between;
    padding: 0 2em;
  }

  section {
    margin: 0 auto;

    @media screen and (min-width: map-get($breakpoints, small)) {
      width: auto;
      margin: 0;
    }

  }

  h3 {
    margin: 0;
    font-size: 1.75em;
  }
  p {
    margin-bottom: 0;
    font-size: 1.125em;
    &#copyright {
      color: map-get($palette, darkgrey);
      @media screen and (max-width: map-get($breakpoints, small)) {
        margin-top: 2em;
      }
    }
    a {
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}
