---
layout: default
---
<header>
  <a id="logo" href="/">{{page.title}}</a>
</header>

<main>
  {% assign posts_slice = 3 %}
  {% assign sliced_posts = "" | split: "/" %}
  {% for post in site.posts %}
    {% assign reminder = forloop.index | modulo: posts_slice %}
    {% if reminder == 1 %}{% assign posts = "" | split: "/" %}{% endif %}
    {% assign posts = posts | push: post %}
    {% if reminder == 0 or forloop.last %}{% assign sliced_posts = sliced_posts | push: posts %}{% endif %}
  {% endfor %}

  {% for posts in sliced_posts %}
    <section id="page{{forloop.index}}">
      {% for post in posts %}
        <article>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if forloop.index == 0 %}<h1>{{post.title}}</h1>{% else %}<h3>{{post.title}}</h3>{% endif %}
            <p>{{post.excerpt}}</p>
            <p>{{post.author}} · {{post.date | date_to_string}}</p>
          </a>
        </article>
      {% endfor %}
    </section>
  {% endfor %}
</main>
