---
layout: default
---
<header>
  {% include logo.html %}
</header>

<main id="blog" class="container">
  {% assign highlighted_post = paginator.posts.first %}
  {% assign not_highlighted_posts =  paginator.posts | shift %}

  {% assign mod = paginator.page | modulo: 2 %}
  {% if mod == 0 %}
    {% assign highlighted_css_class = 'container__section container__section--highlighted container__section--highlighted-yellow' %}
  {% else %}
    {% assign highlighted_css_class = 'container__section container__section--highlighted container__section--highlighted-blue' %}
  {% endif %}

  <section class="{{ highlighted_css_class }}">
    {% include article_teaser.html post=highlighted_post css_class="article-teaser article-teaser--highlighted" %}
  </section>

  <section class="article-teaser-list">
    {% for post in not_highlighted_posts %}
      {% include article_teaser.html post=post css_class="article-teaser" %}
    {% endfor %}

    <nav class="article-teaser-list__nav">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-teaser-list__nav-element">
          &lt;- Newer
        </a>
      {% else %}
        <span class="article-teaser-list__nav-element article-teaser-list__nav-element--disabled">&lt;- Newer</span>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="article-teaser-list__nav-element">Older -&gt;</a>
      {% else %}
        <span class="article-teaser-list__nav-element article-teaser-list__nav-element--disabled">Older -&gt;</span>
      {% endif %}
    </nav>
  </section>
</main>
